# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.sdk/
build/
node_modules/
web/main.wasm.map
web/main.unopt.wasm
web/main.unopt.wasm.map
deno.lock
package-lock.json
pubspec.lock