@import url(https://fonts.googleapis.com/css2?family=DM+Mono);

html,
body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  display: flex;
  font-family: 'DM Mono', monospace;
  font-size: 1em;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
  margin: 0;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}